@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #00ff95;
}
.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  margin-top: 12vh;
}

.footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 15vh;
}

.button-container-1 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  span{
    font-size: 12px;
    margin-top: 9px;
  }
  button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #000;
    //mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("./img_mask/nature-sprite.png");
    mask-size: 2300% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    animation: ani2 0.7s steps(22) forwards;
    &:hover {
      animation: ani 0.7s steps(22) forwards;
    }
  }
}



.button-container-2 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #000;
    //mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("./img_mask/urban-sprite.png");
    mask-size: 3000% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    animation: ani2 0.7s steps(29) forwards;
    &:hover {
      animation: ani 0.7s steps(29) forwards;
    }
  }
}



.button-container-3 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  button {
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #000;
    //mask: url("https://github.com/robin-dela/css-mask-animation/blob/master/img/nature-sprite-2.png?raw=true");
    mask: url("./img_mask/nature-sprite-2.png");
    mask-size: 7100% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    animation: ani2 0.7s steps(70) forwards;
    &:hover {
      animation: ani 0.7s steps(70) forwards;
    }
  }
}



.mas {
  position: absolute;
  color: #3cff36;
  color: #000000;
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  margin-top: 12px;
  overflow: hidden;
}


@keyframes ani {
  from {
    mask-position: 0 0;
  }
  to {
    mask-position: 100% 0;
  }
}

@keyframes ani2 {
  from {
    mask-position: 100% 0;
  }
  to {
    mask-position: 0 0;
  }
}

