<p>
  mask-animation works!
</p>

<div id="body">
  <div class="header">CSS-Mask Button Hover Animation ( Experimental )</div>

  <div class="button-container-1">
    <span class="mas">Кнопка и текст прозрачны</span>
    <button id='work' type="button" name="Hover">MASK1</button>
  </div>

  <div class="button-container-2">
    <span class="mas">MASK2</span>
    <button type="button" name="Hover">MASK2</button>
  </div>

  <div class="button-container-3">
    <span class="mas">MASK3</span>
    <button type="button" name="Hover">MASK3</button>
  </div>


  <div class="footer">
    Статья <a href="https://tympanus.net/codrops/2016/09/29/transition-effect-with-css-masks/">тут</a>,
    <a href="http://htmlbook.ru/blog/maskirovanie-v-css">тут</a>
  </div>

</div>
